body {
	background-color: #232323;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
	border-radius: 15%;  /* radius: 50% gives circle */
	transition: background 0.6s;  /* only when background property changes */
	/* browser prefixes | support */
	-webkit-transition: background 0.6s;
	-moz-transition: background 0.6s; 
}

#container {
	max-width: 600px;
	margin: 20px auto;  /* top|bottom || left|right */
	
}

h1 {
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	color: white;
	background: steelblue;
	text-transform: uppercase;
	margin: 0;   /*removes black space*/
	padding: 20px 0; /*top|bottom left|right*/
}

/*span {
	color: white;
}*/

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block; /* inline-block with width 20% will give spacing between the new colors button and easy button*/
	width: 20%;        /* the empty space takes 20% of its screen*/
	text-transform: uppercase;
	color: red;
	font-weight: 900;
	font-size: inherit;
	letter-spacing: 1px;
}

#stripe {
	background: white;
	height: 50px;
	text-align: center;
	color: black;
}

.selected {
	color: white;
	background: steelblue;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s; /* all button properties when hovering, fade in and fade out */  
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s; 
	outline: none;  /* removes the line around buttons after selecting */
}

/* add hover effect to buttons */

button:hover {
	color: white;
	background: steelblue;
}








